pandas
numpy
seaborn
matplotlib
scikit-learn
catboost
xgboost
statsmodels
fuzzywuzzy
openpyxl
selenium
wordcloud
nltk
webdriver_manager
msedge-selenium-tools 
ChromeDriverManager
transformers
TensorFlow
flask
dill
#-e . # used to call setup.py frfom here itself
